html {
  font-size: 108px;
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1439525509_488837.eot');
  src: url('//at.alicdn.com/t/font_1439525509_488837.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('//at.alicdn.com/t/font_1439525509_488837.woff') format('woff'), /* chrome、firefox */
   url('//at.alicdn.com/t/font_1439525509_488837.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
   url('//at.alicdn.com/t/font_1439525509_488837.svg#iconfont') format('svg');/* IE9*/
  /* iOS 4.1- */
}
.header {
  width: 100%;
}
.header .empty {
  width: 100%;
  height: 0.66rem;
  background-color: #000;
}
.header .header_top {
  height: 1.33rem;
  background-color: #f3f3f3;
}
.header .header_top span {
  line-height: 1.33rem;
  float: left;
  margin-left: 0.47rem;
  font-size: 0.55rem;
}
.header .header_top a {
  float: right;
  margin-top: 0.38rem;
  margin-right: 0.6rem;
  text-decoration: none;
}
.header .header_top a img {
  width: 0.66rem;
  height: 0.6rem;
}
.header .nav {
  font-size: 0.44rem;
  overflow: hidden;
  background-color: #333333;
}
.header .nav ul {
  margin: auto;
  padding: 0px;
  list-style: none;
}
.header .nav ul li {
  float: left;
}
.header .nav ul li a {
  margin-left: 0.84rem;
  text-decoration: none;
  line-height: 1.33rem;
  color: #999999;
}
.header .nav ul li #nav1,
.header .nav ul li #nav2,
.header .nav ul li #nav3 {
  margin-right: 0.84rem;
}
.advertisement {
  background-color: #eaeaea;
}
.advertisement img {
  margin-top: 0.28rem;
  margin-bottom: 0.12rem;
  width: 100%;
  height: 100%;
}
.mid {
  background-color: #eaeaea;
}
.mid .ad1 {
  border: 0.01rem solid #dddddd;
  background-color: #fff;
}
.mid .ad1 .personal_deta {
  margin: auto;
  width: 9.11rem;
  height: 2rem;
  margin-top: 0.62rem;
  border-bottom: 0.01rem solid #cccccc;
}
.mid .ad1 .personal_deta img {
  float: left;
  margin-right: 0.21rem;
  width: 1.35rem;
  height: 1.35rem;
}
.mid .ad1 .personal_deta .deta div {
  overflow: hidden;
}
.mid .ad1 .personal_deta .deta div .name {
  float: left;
  font-size: 0.44rem;
  color: #212121;
}
.mid .ad1 .personal_deta .deta div img {
  margin: 0.12rem;
  width: 0.44rem;
  height: 0.44rem;
}
.mid .ad1 .personal_deta .deta div .category {
  float: right;
  text-align: center;
  width: 0.86rem;
  height: 0.41rem;
  font-size: 0.33rem;
  background-color: #c4c4c4;
  color: #fff;
  border-radius: 0.17rem;
}
.mid .ad1 .personal_deta .deta p {
  font-size: 0.33rem;
  color: #666666;
}
.mid .ad1 .content {
  margin: auto;
  width: 9.11rem;
  margin-top: 0.22rem;
  overflow: hidden;
}
.mid .ad1 .content .message {
  margin: 0px;
  font-size: 0.44rem;
  color: #212121;
}
.mid .ad1 .content div {
  font-size: 0.33rem;
}
.mid .ad1 .content div img {
  float: left;
  margin-right: 0.24rem;
  width: 0.33rem;
  height: 0.33rem;
}
.mid .ad1 .content div .how {
  float: left;
  color: #666666;
}
.mid .ad1 .content div p {
  color: #666666;
}
.mid .ad1 .content div span {
  float: right;
  color: #666666;
}
.mid .ad1 .bottom {
  overflow: hidden;
  font-size: 0.33rem;
  margin-top: 0.5rem;
  margin-bottom: 0.23rem;
}
.mid .ad1 .bottom .apply {
  margin-left: 0.89rem;
}
.mid .ad1 .bottom .review {
  margin-left: 0.68rem;
}
.mid .ad1 .bottom .like {
  margin-left: 1rem;
}
.mid .ad1 .bottom div {
  float: left;
  width: 2.42rem;
}
.mid .ad1 .bottom div span {
  margin-right: 0.9rem;
}
@media screen and (min-width: 320px) and (max-width: 350px) {
  .mid .ad1 .bottom div span {
    margin-right: 0.75rem;
  }
}
.mid .ad2 {
  background-color: #fff;
  border: 0.01rem solid #dddddd;
  margin-top: 0.22rem;
  overflow: hidden;
}
.mid .ad2 .persona2_deta {
  margin: auto;
  width: 9.11rem;
  height: 2rem;
  margin-top: 0.62rem;
  border-bottom: 0.01rem solid #cccccc;
}
.mid .ad2 .persona2_deta img {
  float: left;
  margin-right: 0.21rem;
  width: 1.35rem;
  height: 1.35rem;
}
.mid .ad2 .persona2_deta .deta div {
  overflow: hidden;
}
.mid .ad2 .persona2_deta .deta div .name {
  float: left;
  font-size: 0.44rem;
  color: #212121;
}
.mid .ad2 .persona2_deta .deta div img {
  margin: 0.12rem;
  width: 0.44rem;
  height: 0.44rem;
}
.mid .ad2 .persona2_deta .deta div .category {
  float: right;
  text-align: center;
  width: 0.86rem;
  height: 0.41rem;
  font-size: 0.33rem;
  background-color: #c4c4c4;
  color: #fff;
  border-radius: 0.16rem;
}
.mid .ad2 .persona2_deta .deta p {
  font-size: 0.33rem;
  color: #666666;
}
.mid .ad2 .content {
  margin: auto;
  width: 9.11rem;
  margin-top: 0.22rem;
  overflow: hidden;
}
.mid .ad2 .content .message {
  margin: 0px;
  font-size: 0.44rem;
  color: #212121;
}
.mid .ad2 .content div {
  font-size: 0.33rem;
}
.mid .ad2 .content div img {
  float: left;
  margin-right: 0.24rem;
  width: 0.33rem;
  height: 0.33rem;
}
.mid .ad2 .content div .how {
  float: left;
  color: #666666;
}
.mid .ad2 .content div p {
  color: #666666;
}
.mid .ad2 .content div span {
  float: right;
  color: #666666;
}
.mid .ad2 .bottom {
  overflow: hidden;
  font-size: 0.33rem;
  margin-top: 0.5rem;
  margin-bottom: 0.23rem;
}
.mid .ad2 .bottom .apply {
  margin-left: 0.89rem;
}
.mid .ad2 .bottom .review {
  margin-left: 0.68rem;
}
.mid .ad2 .bottom .like {
  margin-left: 1.01rem;
}
.mid .ad2 .bottom div {
  float: left;
  width: 2.42rem;
}
.mid .ad2 .bottom div span {
  margin-right: 0.9rem;
}
@media only screen and (max-width: 350px) {
  .mid .ad2 .bottom div span {
    margin-right: 0.75rem;
  }
}
.background {
  display: none;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(16, 14, 14, 0.2);
  margin-top: 0px;
}
#screen {
  position: absolute;
  top: 1.99rem;
  right: 0rem;
  width: 5rem;
  height: 100%;
  background-color: #fff;
}
#screen ul {
  list-style: none;
}
#screen a {
  text-decoration: none;
}
#screen #choose {
  float: right;
  margin-top: 0.41rem;
}
#screen #choose a {
  margin-right: 0.46rem;
  font-size: 0.33rem;
  color: #666666;
}
#screen #choose a :hover {
  color: #8dda5e;
}
#screen #nav_t {
  margin-top: 1.11rem;
}
#screen #nav_t ul {
  padding: 0px;
}
#screen #nav_t ul #nav_one {
  border-bottom: 0.024rem solid #cccccc;
}
#screen #nav_t ul li span {
  width: 100%;
  font-size: 0.44rem;
  color: #212121;
  line-height: 0.85rem;
  margin-left: 0.29rem;
}
#screen #nav_t ul li ul {
  display: none;
  background-color: #eeeeee;
}
#screen #nav_t ul li ul li {
  border-top: 0.024rem solid #cccccc;
}
#screen #nav_t ul li ul li a {
  margin-left: 0.37rem;
  font-size: 0.33rem;
  color: #444444;
  line-height: 0.89rem;
}
